.cart{
    height: fit-content;
}

h2{
    font-size: 18px;
    padding: 7px;
}

.button{
    background-color: hsl(26, 100%, 55%);
    padding: 10px 25px;
    cursor: pointer;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    color: hsl(220, 13%, 13%);
    font-weight: 700;
    text-align: center;  
    margin-top: 5px;
}

.button:hover{
    background-color: hsl(25, 100%, 94%);
}

.empty{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}